<ion-view title="Horarios 1° Cuatrimestre" id="page67">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #000000;">El 1° Cuatrimestre inició e</span>
        <span style="color: #000000;">l lunes 11 de marzo y finalizará el sabado 22 de junio.</span>
      </p>
      <p>
        <span style="color: #000000;">Las inscripción a las materias del 1° cuatrimestre se realizan desde el 11 a</span>
        <span style="color: #000000;">l 23 </span>de marzo, los estudiantes de años anteriores podrán inscribirse a través del&nbsp;SIU Guaraní.
        <span style="color: #000000;"> Mientras que los estudiantes que ingresaron este año no tendrán necesidad de hacerlo por ser su primer cuatrimestre, esto se hará automáticamente ya que la mayoría aún no esta cargado en el sistema&nbsp;SIU Guaraní.</span>
      </p>
    </div>
    <ion-list id="horarios1Cuatrimestre-list16">
      <ion-item class="item-icon-left positive" id="horarios1Cuatrimestre-list-item99" ui-sref="aplicadas()">
        <i class="icon ion-android-calendar"></i>Aplicadas</ion-item>
      <ion-item class="item-icon-left positive" id="horarios1Cuatrimestre-list-item104" ui-sref="exactas()">
        <i class="icon ion-android-calendar"></i>Exactas</ion-item>
      <ion-item class="item-icon-left positive" id="horarios1Cuatrimestre-list-item103" ui-sref="humanas()">
        <i class="icon ion-android-calendar"></i>Humanas</ion-item>
      <ion-item class="item-icon-left positive" id="horarios1Cuatrimestre-list-item105" ui-sref="sociales()">
        <i class="icon ion-android-calendar"></i>Sociales</ion-item>
      <ion-item class="item-icon-left positive" id="horarios1Cuatrimestre-list-item101" ui-sref="salud()">
        <i class="icon ion-android-calendar"></i>Salud</ion-item>
    </ion-list>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/UGuoviTuRiCGpau4h518_GuiaUNLaRLinea1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>