<ion-view title="Salud" id="page80">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ODoY4VxQlaZg4REwFlCd_salud-01-01-julio17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="salud-list21">
      <ion-item class="item-icon-left balanced" id="salud-list-item152" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-android-calendar"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item153" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-android-calendar"></i>Lic. en Enfermería</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item154" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-android-calendar"></i>Lic. en Producción de Bioimágenes</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item155" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/">
        <i class="icon ion-android-calendar"></i>Medicina</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item156" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-android-calendar"></i>Odontología</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item157" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-android-calendar"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item158" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/">
        <i class="icon ion-android-calendar"></i>Téc. en Radiología y Terapia Radiante</ion-item>
      <ion-item class="item-icon-left balanced" id="salud-list-item159" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-tec-electro-electronica/">
        <i class="icon ion-android-calendar"></i>Terapia Ocupacional</ion-item>
    </ion-list>
  </ion-content>
</ion-view>