<ion-view title="Sociales" id="page79">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/hw6B3zYGTqP0RC3oASrJ_sociales-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="sociales-list20">
      <ion-item class="item-icon-left royal" id="sociales-list-item143" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/">
        <i class="icon ion-android-calendar"></i>Abogacía</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item144" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/">
        <i class="icon ion-android-calendar"></i>Contador Publico</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item145" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/">
        <i class="icon ion-android-calendar"></i>Escribania</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item146" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/">
        <i class="icon ion-android-calendar"></i>Lic. en Administración</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item147" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-civil/">
        <i class="icon ion-android-calendar"></i>Lic. en Ciencia Política</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item148" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/">
        <i class="icon ion-android-calendar"></i>Lic. en Comunicación Social</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item149" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/">
        <i class="icon ion-android-calendar"></i>Lic. en Criminalística</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item150" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-tec-electro-electronica/">
        <i class="icon ion-android-calendar"></i>Lic. en Economía</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item151" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Lic. en Trabajo Social</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item106" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Lic. en Turismo</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item162" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Lic. en Turismo Ecológico</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item163" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Procuración</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item164" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. de Comunicación Soc. para el Desarrollo</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item165" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. de Guía de Turismo</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item166" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. de Seguridad Urbana </ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item167" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. Tasador y Corredor Inmobiliario</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item168" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. en Gestión y Administración Contable</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item169" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. Subastador y Martillero Público</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item170" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left royal" id="sociales-list-item171" href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/">
        <i class="icon ion-android-calendar"></i>Tec. en TV Digital</ion-item>
    </ion-list>
  </ion-content>
</ion-view>